#

# **DELTA Table Management: Change columns types**

#### Overview
- This notebook is designed to change a Delta table column name or type

---

#### Key Functionalities
- **Data definition**

---

#### Prerequisites
- **Libraries**: 
- **Data Sources**: 
- **Permissions**: 

---

#### Usage Instructions
1. **Set Up**: 
2. **Run Cells**: 
3. **Modify Parameters**: 
4. **Save Outputs**: 

---

#### Notes
- **Assumptions**:
- https://fabric.guru/enabling-column-mapping-for-spaces-in-column-names-in-delta-table
- **Limitations**: 
- **Version**: 

---

#### Contact

In [ ]:
def alter_column_types(
    table_name: str,
    type_change_dict: dict
):
    """
    Alter column types of a Delta table using Spark SQL.

    Args:
        table_name (str): The name of the Delta table.
        type_change_dict (dict): Dictionary with {column_name: new_data_type}.
                                 E.g. {"ProjectID": "STRING", "StartDate": "DATE"}
    """
    for col, new_type in type_change_dict.items():
        alter_type_sql = f"""
        ALTER TABLE `{table_name}` ALTER COLUMN `{col}` TYPE {new_type}
        """
        spark.sql(alter_type_sql)

In [ ]:
table_name = 'dt_opportunity'

type_changes  = {
    "Project_ID": "STRING"
}

In [ ]:
alter_column_types(table_name, type_changes)